body{
	box-sizing: border-box;
	background: #acb6e5;  /* fallback for old browsers */
	background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-items{
	display: flex;
	flex-direction: column;
	width: 21%;
	height:350px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	border: 10px double grey;
	margin-bottom: 5px;
}
.flex-items > img{
	height: 250px;
}
.flex-items > p{
	margin: 0px;
	padding: 0px;

}


.searchbox{
	padding: 10px;
	text-align: center;
}

.form > input{
	padding: 10px;
	margin:10px;

}

input[type=text]{
	border:6px double grey;
	border-radius: 14px;

}